header{
   color:rgb(137, 178, 34);
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.0em;
    line-height: 2em;
}

#Main{
    font: bold 1em/1em italic Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:chartreuse;
    line-height: 3em;
}

#Footer{
    color: chartreuse;
}
body {
    background-color: rgb(6, 44, 2);
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#about {
    color: rgb(209, 244, 10);
}

.Hunting {
    color: crimson;
}
.Dog{
    color: crimson;
}